<div class="header">
  <div class="container">
    <a href="/">
      <!--<img src="/assets/img/light.png" width="50" height="50" />-->
      <span id="title">Polipo</span>
    </a>
  </div>
</div>

<!-- Posts will Appear here -->
<div class="main">
  <div class="main">
    <div class="container">
      <form style="margin-top: 40px">
        <div class="container">
          <div class="col-lg-6 col-lg-offset-3">
            <form [formGroup]="searchForm" style="margin-top: 40px">
              <div class="form-group">
                <input
                  id="destination"
                  type="text"
                  class="form-control"
                  placeholder="Enter district, e.g. 'Hoima'"
                  formControlName="destination"
                />
              </div>
              <ul *ngIf="suggestions.length > 0" class="suggestions-list">
                <li
                  (click)="findValues(suggestion.name, suggestion.region)"
                  *ngFor="let suggestion of suggestions"
                  class="suggestion-item"
                >
                  <!-- Adjust based on your API response structure -->
                  {{ suggestion.name }}
                </li>
              </ul>
            </form>
          </div>
        </div>
        <div class="container">
          <ul *ngIf="regionDetails.district" class="region-details">
            <li class="region-item">
              <h2>District: {{ regionDetails?.district }}</h2>
              <ol class="district-info">
                <li>District Code: {{ regionDetails?.dist_code }}</li>
                <li>District Size: {{ regionDetails?.dist_size }}</li>
                <li>City : {{ regionDetails?.city }}</li>
                <li>Location : {{ regionDetails?.location }}</li>
              </ol>
            </li>
            <li class="tree-item" (click)="toggleDetails('population-details')">
              Population Details:
              <strong>{{ regionDetails?.population?.length ?? 0 }}</strong>
              <ul id="population-details" class="hidden">
                <li *ngFor="let population of regionDetails?.population">
                  Year:
                  {{ population?.year }} : Count {{ population?.total }}
                </li>
              </ul>
            </li>
            <li class="tree-item">
              <div (click)="toggleDetails('county-details')">
                County:
                <strong>{{ regionDetails?.county?.length ?? 0 }}</strong>
              </div>
              <ul id="county-details" class="hidden">
                <li
                  class="tree-item"
                  *ngFor="let item of regionDetails?.county"
                >
                  <ul>
                    <li>County: {{ item?.cty }}</li>
                    <li>
                      <div
                        (click)="toggleDetails('subcounty-details' + item?.cty)"
                      >
                        Subcounties:
                        <strong>{{ item?.subcounty?.length }}</strong>
                      </div>
                      <ul [id]="'subcounty-details' + item?.cty" class="hidden">
                        <li *ngFor="let item of item?.subcounty">
                          <ul>
                            <li>Sub Cty: {{ item?.sub_cty }}</li>
                            <li>Location: {{ item?.location?.location }}</li>
                            </li>
                            <li>
                              <div
                                (click)="
                                  toggleDetails(
                                    'subcounty-population-details' + item?.cty
                                  )
                                "
                              >
                                Sub County Population {{ item?.sub_cty }}:
                                <strong>{{ item?.subcounty?.length }}</strong>
                              </div>
                              <ul>
                                <li *ngFor="let it of item?.population">
                                  <ol class="location-info">
                                    <li>
                                      Year:
                                      {{ it?.year }}
                                    </li>
                                    <li>HH numbs: {{ it?.hh_numbs }}</li>
                                    <li>HH size: {{ it?.hh_size }}</li>
                                    <li>Males: {{ it?.males }}</li>
                                    <li>Females: {{ it?.females }}</li>
                                    <li>Total: {{ it?.total }}</li>
                                  </ol>
                                </li>
                              </ul>
                            </li>
                            <li>
                              <div
                                (click)="
                                  toggleDetails(
                                    'subcounty-parish-details' + item?.cty
                                  )
                                "
                              >
                                Parish {{ item?.sub_cty }}:
                                <strong>{{ item?.parish?.length }}</strong>
                              </div>
                              <ul>
                                <li *ngFor="let ite of item?.parish">
                                  <ul>
                                    <li>Par: {{ ite?.par }}</li>
                                    <li>Par Code: {{ ite?.par_code }}</li>
                                    <li>Mhhi: {{ ite?.mhhi }}</li>
                                    <li>Par Pop: {{ ite?.par_pop }}</li>
                                    <li>Location: {{ item?.location?.location }}</li>
                                    </li>
                                  </ul>
                                </li>
                              </ul>
                            </li>
                          </ul>
                        </li>
                      </ul>
                    </li>
                    <li>
                      <div
                        (click)="
                          toggleDetails('mp-election-details' + item?.cty)
                        "
                      >
                        MP Election:
                        <strong>{{ item?.mp_elections?.length ?? 0 }}</strong>
                        <ul
                          [id]="'mp-election-details' + item?.cty"
                          class="hidden"
                        >
                          <li *ngFor="let election of item?.mp_elections">
                            <table>
                              <thead>
                                <tr>
                                  <th>Candidate</th>
                                  <th>Image</th>
                                  <th>PParty</th>
                                  <th>Votes</th>
                                  <th>Year</th>
                                </tr>
                              </thead>
                              <tbody>
                                <tr *ngIf="election?.candidate?.indep">
                                  <td data-label="Candidate">{{ election?.candidate?.indep }}</td>
                                  <td data-label="Image">
                                    <img
                                      [src]="
                                        '/assets/' + election?.images?.indep
                                      "
                                      [alt]="election?.candidate?.indep"
                                    />
                                  </td>
                                  <td data-label="Votes">{{ election?.pparty?.indep }}</td>
                                  <td data-label="Votes">{{ election?.votes?.indep }}</td>
                                  <td data-label="Year">{{ election?.year }}</td>
                                </tr>
                                <tr *ngIf="election?.candidate?.fdc">
                                  <td data-label="Candidate">
                                    {{ election?.candidate?.fdc }}
                                  </td>
                                  <td data-label="Image">
                                    <img
                                      [src]="'/assets/' + election?.images?.fdc"
                                      [alt]="election?.candidate?.fdc"
                                    />
                                  </td>
                                  <td data-label="Votes">
                                    {{ election?.pparty?.fdc }}
                                  </td>
                                  <td data-label="Votes">
                                    {{ election?.votes?.fdc }}
                                  </td>
                                  <td data-label="Year">
                                    {{ election?.year }}
                                  </td>
                                </tr>
                                <tr *ngIf="election?.candidate?.indep1">
                                  <td data-label="Candidate">
                                    {{ election?.candidate?.indep1 }}
                                  </td>
                                  <td data-label="Image">
                                    <img
                                      [src]="
                                        '/assets/' + election?.images?.indep1
                                      "
                                      [alt]="election?.candidate?.indep1"
                                    />
                                  </td>
                                  <td data-label="Votes">
                                    {{ election?.pparty?.indep1 }}
                                  </td>
                                  <td data-label="Votes">
                                    {{ election?.votes?.indep1 }}
                                  </td>
                                  <td data-label="Year">
                                    {{ election?.year }}
                                  </td>
                                </tr>
                                <tr *ngIf="election?.candidate?.nrm">
                                  <td data-label="Candidate">
                                    {{ election?.candidate?.nrm }}
                                  </td>
                                  <td data-label="Image">
                                    <img
                                      [src]="'/assets/' + election?.images?.nrm"
                                      [alt]="election?.candidate?.nrm"
                                    />
                                  </td>
                                  <td data-label="Votes">
                                    {{ election?.pparty?.nrm }}
                                  </td>
                                  <td data-label="Votes">
                                    {{ election?.votes?.nrm }}
                                  </td>
                                  <td data-label="Year">
                                    {{ election?.year }}
                                  </td>
                                </tr>
                                <tr *ngIf="election?.candidate?.nup">
                                  <td data-label="Candidate">
                                    {{ election?.candidate?.nup }}
                                  </td>
                                  <td data-label="Image">
                                    <img
                                      [src]="'/assets/' + election?.images?.nup"
                                      [alt]="election?.candidate?.nup"
                                    />
                                  </td>
                                  <td data-label="Votes">
                                    {{ election?.pparty?.nup }}
                                  </td>
                                  <td data-label="Votes">
                                    {{ election?.votes?.nup }}
                                  </td>
                                  <td data-label="Year">
                                    {{ election?.year }}
                                  </td>
                                </tr>
                                <tr *ngIf="election?.candidate?.ant">
                                  <td data-label="Candidate">
                                    {{ election?.candidate?.ant }}
                                  </td>
                                  <td data-label="Image">
                                    <img
                                      [src]="'/assets/' + election?.images?.ant"
                                      [alt]="election?.candidate?.ant"
                                    />
                                  </td>
                                  <td data-label="Votes">
                                    {{ election?.pparty?.ant }}
                                  </td>
                                  <td data-label="Votes">
                                    {{ election?.votes?.ant }}
                                  </td>
                                  <td data-label="Year">
                                    {{ election?.year }}
                                  </td>
                                </tr>
                                <tr *ngIf="election?.candidate?.upc">
                                  <td data-label="Candidate">
                                    {{ election?.candidate?.upc }}
                                  </td>
                                  <td data-label="Image">
                                    <img
                                      [src]="'/assets/' + election?.images?.upc"
                                      [alt]="election?.candidate?.upc"
                                    />
                                  </td>
                                  <td data-label="Votes">
                                    {{ election?.pparty?.upc }}
                                  </td>
                                  <td data-label="Votes">
                                    {{ election?.votes?.upc }}
                                  </td>
                                  <td data-label="Year">
                                    {{ election?.year }}
                                  </td>
                                </tr>
                                <tr *ngIf="election?.candidate?.dp">
                                  <td data-label="Candidate">
                                    {{ election?.candidate?.dp }}
                                  </td>
                                  <td data-label="Image">
                                    <img
                                      [src]="'/assets/' + election?.images?.dp"
                                      [alt]="election?.candidate?.dp"
                                    />
                                  </td>
                                  <td data-label="Votes">
                                    {{ election?.pparty?.dp }}
                                  </td>
                                  <td data-label="Votes">
                                    {{ election?.votes?.dp }}
                                  </td>
                                  <td data-label="Year">
                                    {{ election?.year }}
                                  </td>
                                </tr>
                                <tr *ngIf="election?.candidate?.ndf">
                                  <td data-label="Candidate">
                                    {{ election?.candidate?.ndf }}
                                  </td>
                                  <td data-label="Image">
                                    <img
                                      [src]="'/assets/' + election?.images?.ndf"
                                      [alt]="election?.candidate?.ndf"
                                    />
                                  </td>
                                  <td data-label="Votes">
                                    {{ election?.pparty?.ndf }}
                                  </td>
                                  <td data-label="Votes">
                                    {{ election?.votes?.ndf }}
                                  </td>
                                  <td data-label="Year">
                                    {{ election?.year }}
                                  </td>
                                </tr>
                                <tr *ngIf="election?.candidate?.jf">
                                  <td data-label="Candidate">
                                    {{ election?.candidate?.jf }}
                                  </td>
                                  <td data-label="Image">
                                    <img
                                      [src]="'/assets/' + election?.images?.jf"
                                      [alt]="election?.candidate?.jf"
                                    />
                                  </td>
                                  <td data-label="Votes">
                                    {{ election?.pparty?.jf }}
                                  </td>
                                  <td data-label="Votes">
                                    {{ election?.votes?.jf }}
                                  </td>
                                  <td data-label="Year">
                                    {{ election?.year }}
                                  </td>
                                </tr>
                              </tbody>
                            </table>
                          </li>
                        </ul>
                      </div>
                    </li>
                  </ul>
                </li>
              </ul>
            </li>
            <li class="tree-item" (click)="toggleDetails('wmp_elections')">
              Women MP Election:
              <strong>{{ regionDetails?.wmp_elections?.length ?? 0 }}</strong>
              <ul id="wmp_elections" class="hidden">
                <li *ngFor="let election of regionDetails?.wmp_elections">
                  <table>
                    <thead>
                      <tr>
                        <th>Candidate</th>
                        <th>Image</th>
                        <th>PParty</th>
                        <th>Votes</th>
                        <th>Year</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr *ngIf="election?.candidate?.indep">
                        <td data-label="Candidate">{{ election?.candidate?.indep }}</td>
                        <td data-label="Image">
                          <img
                            [src]="'/assets/' + election?.images?.indep"
                            [alt]="election?.candidate?.indep"
                          />
                        </td>
                        <td data-label="PParty">{{ election?.pparty?.indep }}</td>
                        <td data-label="Votes">{{ election?.votes?.indep }}</td>
                        <td data-label="Year">{{ election?.year }}</td>
                      </tr>
                      <tr *ngIf="election?.candidate?.fdc">
                        <td data-label="Candidate">{{ election?.candidate?.fdc }}</td>
                        <td data-label="Image">
                          <img
                            [src]="'/assets/' + election?.images?.fdc"
                            [alt]="election?.candidate?.fdc"
                          />
                        </td>
                        <td data-label="PParty">{{ election?.pparty?.fdc }}</td>
                        <td data-label="Votes">{{ election?.votes?.fdc }}</td>
                        <td data-label="Year">{{ election?.year }}</td>
                      </tr>
                      <tr *ngIf="election?.candidate?.indep1">
                        <td data-label="Candidate">{{ election?.candidate?.indep1 }}</td>
                        <td data-label="Image">
                          <img
                            [src]="'assets/' + election?.images?.indep1"
                            [alt]="election?.candidate?.indep1"
                          />
                        </td>
                        <td data-label="PParty">{{ election?.pparty?.indep1 }}</td>
                        <td data-label="Votes">{{ election?.votes?.indep1 }}</td>
                        <td data-label="Year">{{ election?.year }}</td>
                      </tr>
                      <tr *ngIf="election?.candidate?.nrm">
                        <td data-label="Candidate">{{ election?.candidate?.nrm }}</td>
                        <td data-label="Image">
                          <img
                            [src]="'/assets/' + election?.images?.nrm"
                            [alt]="election?.candidate?.nrm"
                          />
                        </td>
                        <td data-label="PParty">{{ election?.pparty?.nrm }}</td>
                        <td data-label="Votes">{{ election?.votes?.nrm }}</td>
                        <td data-label="Year">{{ election?.year }}</td>
                      </tr>
                      <tr *ngIf="election?.candidate?.nup">
                        <td data-label="Candidate">{{ election?.candidate?.nup }}</td>
                        <td data-label="Image">
                          <img
                            [src]="'/assets/' + election?.images?.nup"
                            [alt]="election?.candidate?.nup"
                          />
                        </td>
                        <td data-label="PParty">{{ election?.pparty?.nup }}</td>
                        <td data-label="Votes">{{ election?.votes?.nup }}</td>
                        <td data-label="Year">{{ election?.year }}</td>
                      </tr>
                      <tr *ngIf="election?.candidate?.ant">
                        <td data-label="Candidate">{{ election?.candidate?.ant }}</td>
                        <td data-label="Image">
                          <img
                            [src]="'/assets/' + election?.images?.ant"
                            [alt]="election?.candidate?.ant"
                          />
                        </td>
                        <td data-label="PParty">{{ election?.pparty?.ant }}</td>
                        <td data-label="Votes">{{ election?.votes?.ant }}</td>
                        <td data-label="Year">{{ election?.year }}</td>
                      </tr>
                    </tbody>
                  </table>
                </li>
              </ul>
            </li>
            <li class="tree-item" (click)="toggleDetails('election-details')">
              Presidential Election Detail:
              <strong>{{ regionDetails?.pres_elections?.length ?? 0 }}</strong>
              <ul id="election-details" class="hidden">
                <li *ngFor="let election of regionDetails?.pres_elections">
                  <table>
                    <thead>
                      <tr>
                        <th>Candidate</th>
                        <th>Image</th>
                        <th>PParty</th>
                        <th>Votes</th>
                        <th>Year</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr *ngIf="election?.candidate?.indep">
                        <td data-label="Candidate">{{ election?.candidate?.indep }}</td>
                        <td data-label="Image">
                          <img
                            [src]="'/assets/' + election?.images?.indep"
                            [alt]="election?.candidate?.indep"
                          />
                        </td>
                        <td data-label="PParty">{{ election?.pparty?.indep }}</td>
                        <td data-label="Votes">{{ election?.votes?.indep }}</td>
                        <td data-label="Year">{{ election?.year }}</td>
                      </tr>
                      <tr *ngIf="election?.candidate?.fdc">
                        <td data-label="Candidate">{{ election?.candidate?.fdc }}</td>
                        <td data-label="Image">
                          <img
                            [src]="'/assets/' + election?.images?.fdc"
                            [alt]="election?.candidate?.fdc"
                          />
                        </td>
                        <td data-label="PParty">{{ election?.pparty?.fdc }}</td>
                        <td data-label="Votes">{{ election?.votes?.fdc }}</td>
                        <td data-label="Year">{{ election?.year }}</td>
                      </tr>
                      <tr *ngIf="election?.candidate?.indep1">
                        <td data-label="Candidate">{{ election?.candidate?.indep1 }}
                        </td>
                        <td data-label="Image">
                          <img
                            [src]="'/assets/' + election?.images?.indep1"
                            [alt]="election?.candidate?.indep1"
                          />
                        </td>
                        <td data-label="PParty">{{ election?.pparty?.indep1 }}</td>
                        <td data-label="Votes">{{ election?.votes?.indep1 }}</td>
                        <td data-label="Year">{{ election?.year }}</td>
                      </tr>
                      <tr *ngIf="election?.candidate?.nrm">
                        <td data-label="Candidate">{{ election?.candidate?.nrm }}</td>
                        <td data-label="Image">
                          <img
                            [src]="'/assets/' + election?.images?.nrm"
                            [alt]="election?.candidate?.nrm"
                          />
                        </td>
                        <td data-label="PParty">{{ election?.pparty?.nrm }}</td>
                        <td data-label="Votes">{{ election?.votes?.nrm }}</td>
                        <td data-label="Year">{{ election?.year }}</td>
                      </tr>
                      <tr *ngIf="election?.candidate?.nup">
                        <td data-label="Candidate">{{ election?.candidate?.nup }}</td>
                        <td data-label="Image">
                          <img
                            [src]="'/assets/' + election?.images?.nup"
                            [alt]="election?.candidate?.nup"
                          />
                        </td>
                        <td data-label="PParty">{{ election?.pparty?.nup }}</td>
                        <td data-label="Votes">{{ election?.votes?.nup }}</td>
                        <td data-label="Year">{{ election?.year }}</td>
                      </tr>
                      <tr *ngIf="election?.candidate?.ant">
                        <td data-label="Candidate">{{ election?.candidate?.ant }}</td>
                        <td data-label="Image">
                          <img
                            [src]="'/assets/' + election?.images?.ant"
                            [alt]="election?.candidate?.ant"
                          />
                        </td>
                        <td data-label="PParty">{{ election?.pparty?.ant }}</td>
                        <td data-label="Votes">{{ election?.votes?.ant }}</td>
                        <td data-label="Year">{{ election?.year }}</td>
                      </tr>
                      <tr *ngIf="election?.candidate?.upc">
                        <td data-label="Candidate">{{ election?.candidate?.upc }}</td>
                        <td data-label="Image">
                          <img
                            [src]="'/assets/' + election?.images?.upc"
                            [alt]="election?.candidate?.upc"
                          />
                        </td>
                        <td data-label="PParty">{{ election?.pparty?.upc }}</td>
                        <td data-label="Votes">{{ election?.votes?.upc }}</td>
                        <td data-label="Year">{{ election?.year }}</td>
                      </tr>
                      <tr *ngIf="election?.candidate?.dp">
                        <td data-label="Candidate">{{ election?.candidate?.dp }}</td>
                        <td data-label="Image">
                          <img
                            [src]="'/assets/' + election?.images?.dp"
                            [alt]="election?.candidate?.dp"
                          />
                        </td>
                        <td data-label="PParty">{{ election?.pparty?.dp }}</td>
                        <td data-label="Votes">{{ election?.votes?.dp }}</td>
                        <td data-label="Year">{{ election?.year }}</td>
                      </tr>
                      <tr *ngIf="election?.candidate?.ndf">
                        <td data-label="Candidate">{{ election?.candidate?.ndf }}</td>
                        <td data-label="Image">
                          <img
                            [src]="'/assets/' + election?.images?.ndf"
                            [alt]="election?.candidate?.ndf"
                          />
                        </td>
                        <td data-label="PParty">{{ election?.pparty?.ndf }}</td>
                        <td data-label="Votes">{{ election?.votes?.ndf }}</td>
                        <td data-label="Year">{{ election?.year }}</td>
                      </tr>
                      <tr *ngIf="election?.candidate?.jf">
                        <td data-label="Candidate">{{ election?.candidate?.jf }}</td>
                        <td data-label="Image">
                          <img
                            [src]="'/assets/' + election?.images?.jf"
                            [alt]="election?.candidate?.jf"
                          />
                        </td>
                        <td data-label="PParty">{{ election?.pparty?.jf }}</td>
                        <td data-label="Votes">{{ election?.votes?.jf }}</td>
                        <td data-label="Year">{{ election?.year }}</td>
                      </tr>
                    </tbody>
                  </table>
                </li>
              </ul>
            </li>
            <li class="tree-item" (click)="toggleDetails('city_mp')">
              City MP:
              <strong>{{ regionDetails?.city_mp?.length ?? 0 }}</strong>
              <ul id="city_mp" class="hidden">
                <li *ngFor="let election of regionDetails?.city_mp">
                  <table>
                    <thead>
                      <tr>
                        <th>Candidate</th>
                        <th>Image</th>
                        <th>PParty</th>
                        <th>Votes</th>
                        <th>Year</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr *ngIf="election?.candidate?.indep">
                        <td data-label="Candidate">{{ election?.candidate?.indep }}</td>
                        <td data-label="Image">
                          <img
                            [src]="'/assets/' + election?.images?.indep"
                            [alt]="election?.candidate?.indep"
                          />
                        </td>
                        <td data-label="PParty">{{ election?.pparty?.indep }}</td>
                        <td data-label="Votes">{{ election?.votes?.indep }}</td>
                        <td data-label="Year">{{ election?.year }}</td>
                      </tr>
                      <tr *ngIf="election?.candidate?.fdc">
                        <td data-label="Candidate">{{ election?.candidate?.fdc }}</td>
                        <td data-label="Image">
                          <img
                            [src]="'/assets/' + election?.images?.fdc"
                            [alt]="election?.candidate?.fdc"
                          />
                        </td>
                        <td data-label="PParty">{{ election?.pparty?.fdc }}</td>
                        <td data-label="Votes">{{ election?.votes?.fdc }}</td>
                        <td data-label="Year">{{ election?.year }}</td>
                      </tr>
                      <tr *ngIf="election?.candidate?.indep1">
                        <td data-label="Candidate">{{ election?.candidate?.indep1 }}</td>
                        <td data-label="Image">
                          <img
                            [src]="'/assets/' + election?.images?.indep1"
                            [alt]="election?.candidate?.indep1"
                          />
                        </td>
                        <td data-label="PParty">{{ election?.pparty?.indep1 }}</td>
                        <td data-label="Votes">{{ election?.votes?.indep1 }}</td>
                        <td data-label="Year">{{ election?.year }}</td>
                      </tr>
                      <tr *ngIf="election?.candidate?.nrm">
                        <td data-label="Candidate">{{ election?.candidate?.nrm }}</td>
                        <td data-label="Image">
                          <img
                            [src]="'/assets/' + election?.images?.nrm"
                            [alt]="election?.candidate?.nrm"
                          />
                        </td>
                        <td data-label="PParty">{{ election?.pparty?.nrm }}</td>
                        <td data-label="Votes">{{ election?.votes?.nrm }}</td>
                        <td data-label="Year">{{ election?.year }}</td>
                      </tr>
                      <tr *ngIf="election?.candidate?.nup">
                        <td data-label="Candidate">{{ election?.candidate?.nup }}</td>
                        <td data-label="Image">
                          <img
                            [src]="'/assets/' + election?.images?.nup"
                            [alt]="election?.candidate?.nup"
                          />
                        </td>
                        <td data-label="PParty">{{ election?.pparty?.nup }}</td>
                        <td data-label="Votes">{{ election?.votes?.nup }}</td>
                        <td data-label="Year">{{ election?.year }}</td>
                      </tr>
                      <tr *ngIf="election?.candidate?.ant">
                        <td data-label="Candidate">{{ election?.candidate?.ant }}</td>
                        <td data-label="Image">
                          <img
                            [src]="'/assets/' + election?.images?.ant"
                            [alt]="election?.candidate?.ant"
                          />
                        </td>
                        <td data-label="PParty">{{ election?.pparty?.ant }}</td>
                        <td data-label="Votes">{{ election?.votes?.ant }}</td>
                        <td data-label="Year">{{ election?.year }}</td>
                      </tr>
                      <tr *ngIf="election?.candidate?.upc">
                        <td data-label="Candidate">{{ election?.candidate?.upc }}</td>
                        <td data-label="Image">
                          <img
                            [src]="'/assets/' + election?.images?.upc"
                            [alt]="election?.candidate?.upc"
                          />
                        </td>
                        <td data-label="PParty">{{ election?.pparty?.upc }}</td>
                        <td data-label="Votes">{{ election?.votes?.upc }}</td>
                        <td data-label="Year">{{ election?.year }}</td>
                      </tr>
                      <tr *ngIf="election?.candidate?.dp">
                        <td data-label="Candidate">{{ election?.candidate?.dp }}</td>
                        <td data-label="Image">
                          <img
                            [src]="'/assets/' + election?.images?.dp"
                            [alt]="election?.candidate?.dp"
                          />
                        </td>
                        <td data-label="PParty">{{ election?.pparty?.indep1 }}</td>
                        <td data-label="Votes">{{ election?.votes?.dp }}</td>
                        <td data-label="Year">{{ election?.year }}</td>
                      </tr>
                      <tr *ngIf="election?.candidate?.ndf">
                        <td data-label="Candidate">{{ election?.candidate?.ndf }}</td>
                        <td data-label="Image">
                          <img
                            [src]="'/assets/' + election?.images?.ndf"
                            [alt]="election?.candidate?.ndf"
                          />
                        </td>
                        <td data-label="PParty">{{ election?.pparty?.ndf }}</td>
                        <td data-label="Votes">{{ election?.votes?.ndf }}</td>
                        <td data-label="Year">{{ election?.year }}</td>
                      </tr>
                      <tr *ngIf="election?.candidate?.jf">
                        <td data-label="Candidate">{{ election?.candidate?.jf }}</td>
                        <td data-label="Image">
                          <img
                            [src]="'/assets/' + election?.images?.jf"
                            [alt]="election?.candidate?.jf"
                          />
                        </td>
                        <td data-label="PParty">{{ election?.pparty?.jf }}</td>
                        <td data-label="Votes">{{ election?.votes?.jf }}</td>
                        <td data-label="Year">{{ election?.year }}</td>
                      </tr>
                    </tbody>
                  </table>
                </li>
              </ul>
            </li>
          </ul>
        </div>
      </form>

      <div class="browse">
        <h3><span>Browse Districts</span></h3>
      </div>

      <div class="letters">
        <span *ngFor="let iteRegion of result">
          <button (click)="filterWords(iteRegion)" class="btn btn-primary">
            {{ iteRegion.toUpperCase() }}
          </button>
        </span>
        <hr />
      </div>

      <div class="wrapper">
        <div
          id="wrapper"
          *ngFor="let item of regionResponse"
          class="col-md-3 col-sm-4 col-xs-6"
        >
          <button style="cursor: pointer" (click)="findValue(item)">
            {{ item }}
          </button>
        </div>
      </div>

      <!-- <div class="index">
        <span ng-repeat="n in pagesCount">
          <button ng-Click="paginate(n)" class="btn btn-primary">
            {{ n + 1 }}
          </button>
        </span>
      </div> -->
    </div>
  </div>
</div>
